<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-12 text-center mt-5">
            <h1 class="text-warning fs-1 mt-5">Hoteles Nickelodeon</h1>
            <h2 class="text-warning fs-2">Lujo y Diversión</h2>
            <p class="fs-4">Bienvenido a Nickelodeon Hotels & Resorts. Ubicados en Punta Cana, República Dominicana y Riviera Maya, México. Los Nickelodeon Resorts son los primeros destinos 5 estrellas diseñados para brindarle a familias la diversión que nunca acaba y a la vez rodearlos de un lujo sin límites. Usted y su familia se merecen un escape al Caribe con todo incluido, pasar de disfrutar del mejor servicio personalizado y al minuto siguiente estar bañados de Slime... Descansar en una elegante suite con su nombre... ¡Y encontrarse con el mismísimo Bob Esponja, que le garantizará las MEJORES VACACIONES DE SU VIDA!</p>
            <i class="bi bi-airplane-engines fs-1 text-primary"></i>


        </div>
        <div class="col-12 col-md-12 mt-5">
            <div class="row">
                <div class="col-12 fw-bold text-white img1 fs-4 text-aling-center">
                    <br><br><br><br><br>
                    <p>¿Le apetece algo sabroso? Elija entre múltiples opciones gastronómicas, desde comida casera informal hasta cocina internacional. Y disfrute de exquisitas opciones en los bares de nivel mundial que ofrecen los Nickelodeon Resorts.</p>
                    <button type="button" class="btn btn-warning fs-3">RESERVA</button>
                    <br><br>
                    <h1 class="fs-1 text-warning">VEN Y DISFRUTA DE NUSTROS BANQUETE</h1>

                    
                </div>
                <div class="col-12 col-md-12 mt-5" >
                    <div class="col-12 fw-bold text-white img2 fs-4 text-aling-center">
                        <br><br><br><br><br>
                    <p>¿Listo para decirle adiós al adulto y disfrutar como un niño? ¡Venga a divertirse con Bob Esponja, PAW Patrol y sus amigos, flote por el río lento y deje tiempo para el Slime!

                    </p>
                    <button type="button" class="btn btn-warning fs-3">COSAS PARA HACER</button>
                    <br><br>
                    <h1 class="fs-1 text-warning">DIVIERTE CON NUESTRAS ATRACCIONES</h1>
                    </div>
                    
                </div>
                <div class="col-12 col-md-12 mt-5" >
                <div class="col-12 fw-bold text-white img3 fs-4 text-aling-center">
                    
                        <br><br><br><br><br>
                    <p>En Nickelodeon Hotels & Resorts, el "todo incluido" es a otro nivel, ofreciendo lo mejor de la cocina gourmet, bebidas de primera calidad, servicio personalizado y fabulosas actividades.

                    </p>
                    <button type="button" class="btn btn-warning fs-3">TODO INCLUIDO</button>
                    <br><br>
                    <h1 class="fs-1 text-warning">VEN Y CONSIENTETE</h1>
                   

                    
                </div>
            </div>
                
            </div>
        </div>
    </div>
</div>